p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

.destaque {
    background-color: yellow;
}

.importante {
    color: red;
}

input[type="password"]{
    border-color: blue;
}

.botao-enviar:hover {
    background-color: blueviolet;
}